In [43]:
from sklearn.metrics import accuracy_score,classification_report
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier,export_text,plot_tree
from sklearn import tree



import pandas as pd
import matplotlib.pyplot as plt

In [28]:
df=pd.read_csv('Hotel Reservations.csv')
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [30]:
x=df.iloc[:,1:-1]
y=df['booking_status']

In [48]:
x=pd.get_dummies(x,drop_first=True)
print(x.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          36275 non-null  int64
 1   no_of_children                        36275 non-null  int64
 2   no_of_weekend_nights                  36275 non-null  int64
 3   no_of_week_nights                     36275 non-null  int64
 4   required_car_parking_space            36275 non-null  int64
 5   lead_time                             36275 non-null  int64
 6   arrival_year                          36275 non-null  int64
 7   arrival_month                         36275 non-null  int64
 8   arrival_date                          36275 non-null  int64
 9   repeated_guest                        36275 non-null  int64
 10  no_of_previous_cancellations          36275 non-null  int64
 11  no_of_previous_bookings_not_canceled  36275 non-null  int64
 12  avg_price_per_room                    36275 non-null  float64
 13  no_of_special_requests                36275 non-null  int64
 14  type_of_meal_plan_Meal Plan 2         36275 non-null  uint8
 15  type_of_meal_plan_Meal Plan 3         36275 non-null  uint8
 16  type_of_meal_plan_Not Selected        36275 non-null  uint8
 17  room_type_reserved_Room_Type 2        36275 non-null  uint8
 18  room_type_reserved_Room_Type 3        36275 non-null  uint8
 19  room_type_reserved_Room_Type 4        36275 non-null  uint8
 20  room_type_reserved_Room_Type 5        36275 non-null  uint8
 21  room_type_reserved_Room_Type 6        36275 non-null  uint8
 22  room_type_reserved_Room_Type 7        36275 non-null  uint8
 23  market_segment_type_Complementary     36275 non-null  uint8
 24  market_segment_type_Corporate         36275 non-null  uint8
 25  market_segment_type_Offline           36275 non-null  uint8
 26  market_segment_type_Online            36275 non-null  uint8
dtypes: float64(1), int64(13), uint8(13)
memory usage: 4.3 MB
None

In [23]:
y=pd.get_dummies(y)
y=y.iloc[:,-1]

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=44)

In [39]:
# Finding best value of k that gives high accuracy
best_k = 1
best_accuracy = 0

for k in range(1, 21):
    nn = KNeighborsClassifier(n_neighbors=k)
    nn.fit(x_train, y_train)
    y_pred = nn.predict(x_test)
    
    # Calculate accuracy for the current k
    accuracy = accuracy_score(y_test, y_pred)
    
    # If this accuracy is better than the current best, update the best k and accuracy
    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_k = k

# Print the best k and its accuracy
print(f"Best value of k: {best_k} with accuracy: {best_accuracy}")

Best value of k: 1 with accuracy: 0.8071674707098553

In [50]:
# Finding best value of k that gives high accuracy
best_k2 = 0
best_accuracy2 = 0

for k2 in range(1, 21):
    dtree=DecisionTreeClassifier(criterion='entropy',max_depth=k2)
    dtree.fit(x_train,y_train)
    y_pred1=dtree.predict(x_test)
   
    
    # Calculate accuracy for the current k
    accuracy=accuracy_score(y_test,y_pred1)
    
    # If this accuracy is better than the current best, update the best k and accuracy
    if accuracy > best_accuracy2:
        best_accuracy2 = accuracy
        best_k2 = k2

# Print the best k and its accuracy
print(f"Best value of k: {best_k2} with accuracy: {best_accuracy2}")

Best value of k: 16 with accuracy: 0.8763611302549965

In [51]:
# Classification Report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

    Canceled       0.71      0.71      0.71      2400
Not_Canceled       0.86      0.85      0.86      4855

    accuracy                           0.81      7255
   macro avg       0.78      0.78      0.78      7255
weighted avg       0.81      0.81      0.81      7255

In [52]:
from sklearn.metrics import confusion_matrix

cnn=confusion_matrix(y_test,y_pred)

print(cnn)

[[1716  684]
 [ 715 4140]]

In [53]:
testing=[[2,1,2,3,0,120,2023,8,15,0,0,1,110.5,1,0,0,0,0,0,0,0,0,0,0,0,0,1]]
predicted=dtree.predict(testing)
print(predicted)

['Not_Canceled']

In [55]:
testing=[[2,1,2,3,0,120,2023,8,15,0,0,1,110.5,1,0,0,0,0,0,0,0,0,0,0,0,0,1]]
predicted=nn.predict(testing)
print(predicted)

['Not_Canceled']